body, h1 {
    margin: 0;
}

.dark-background {
    background: rgb(25, 51, 85);
    color: #fff;
}

header {
    padding: 1em;
}

header a {
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-column: 1;
    padding: 1em;
    font-style: italic;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

#external-links li {
    padding-top: 0.5em;
}

#toc > ul {
    list-style: disclosure-open;
    padding-left: 1em;
}

#toc > ul > li > ul {
    list-style: circle;
    padding-left: 1em;
}

.content {
    grid-column: 2;
    padding: 2em;
}
